body {
}

.greenText{
    color:forestgreen;
}

.redText{
    color:orangered;

}

.titleImage{
    width:70px;
}

.resImage{
    width:25px;
}

#res{
    
}
.discuss{
    /*position: absolute;*/
   
    /*width:300px;*/
    background-color:white;
    position:absolute;
    top:0;
    float:right;
    right:0;
    
}

button{
    color:black;
}

#mainInfo{
position:fixed;
top:0;
left:58px;
width:230px;
}

.item_info{
    margin-left:20px;
    width: 235px;
    height: 35px;
    padding:6px; 
    padding-top:3px;
    padding-right: 10px;
    margin:5px;
    border-bottom: solid 1px gray;
    border-left: solid 1px gray;
    background-image: url(../images/gui/itemback.png);
    background-size: 100% 100%;
    color:lightgray;
    
}

.item_unit{
    
    width: 235px;
    height: 45px;
    padding:6px; 
 
    padding-right: 10px;
    margin:5px;
    border-bottom: solid 1px gray;
    border-left: solid 1px gray;
    background-image: url(../images/gui/itemback.png);
    background-size: 100% 100%;
    color:lightgray;
    
}

.loadOuter{
   
    height:15px; 
    width:30%; 
    display:inline-block;
    float:right;
}

.loadInner{
    background-color:green;
    height:15px;
    font-weight:normal;
     width:0; 
     display:inline-block;
     font-size:11pt;
     color:white;

}


.buildingBoxBig
{
    float:left;
    margin-left:20px;
    width:600px;
    height:260px;
    margin-bottom: 20px;
    background-color: mintcream;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.buildingBoxSmall
{
    float:left;
    margin-left:20px;
    width:190px;
    height:260px;
    margin-bottom: 20px;
    background-color: mintcream;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.buildingImage{
    position:relative;
    top:15px;
    left:15px;
    width:50px;
    height:50px;
    float:left;

    
}

.buildingImage img{
    width:50px;
    height:50px;
   
}

.buildingHeader{
  
    font-size:18pt;
    font-weight:bold;
    position:relative;
    border-bottom:solid 2px #ddd;
    top:25px;
    width:360px;
    float:left;
    left:44px;
}
.buildingContent{
    margin-top:79px;
    width:100%;
    
   
}

.thirdBox{
    float:left;
    width:32%;
     border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin:3px;
    height:170px;
    padding:5px;
   
}

.fullbox{
    float:left;
    width:100%;
     border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin:3px;
    height:170px;
    padding:5px;
   
}

#footer{
    padding-top:5px;
    position:fixed;
    height:55px;
    background-color:green;
    width:100%;
    bottom:0px;
    text-align:center;
    background-image: url(../images/gui/backhead.png);
}