<div ng-repeat="building in GC.buildings" ng-if="building.type == 'unit'" class="build_box">
    <div class="build_field_l ">
        <img class="build_image" ng-src="images/buildings/{{building.data.name}}.png" ng-mouseover="GC.note = building.conf.desc">
    </div>
    <div class="building_field_l build_text">{{building.displayName}} Level: {{building.data.level}}  <span class="loadOuter"><span class="loadInner" style="width:{{building.getProducingPercent()}}%;">{{building.getProducingPercent()}}%</span></span></div>

    <img ng-src="images/units/{{building.unitId}}.png" title="{{GC.resources[building.resId].displayName}}" class="small_label_image build_field_l" />
    <div class="build_field_l build_text">PpS: {{GC.getPerSecond(building.getProducePerSecond(GC)) | number:2}}</div>

    <div ng-repeat="r in building.unitViewArray">
        <img ng-src="{{GC.getImagePath(r.o)}}" title="{{r.name}}" class="small_label_image build_field_l" />
        <span class="build_field_l build_text" ng-class="{greenText: r.need < r.stock , redText:r.need > r.stock}" title="{{r.stock}}">{{r.need}} </span>
    </div>

    <div class="build_field_l build_text">Orderd: {{building.data.processQ}} <button ng-click="building.addUnitToQ(GC)">+</button> <button ng-click="building.remUnitQ(GC)">-</button> </div>

    <div ng-repeat="r in building.viewArray">
        <img ng-src="{{GC.getImagePath(r.o)}}" title="{{r.name}}" class="small_label_image build_field_l" />
        <span class="build_field_l build_text" ng-class="{greenText: r.need < r.stock , redText:r.need > r.stock}" title="{{r.stock}}">{{r.need}}  </span>
    </div>
    <div class="build_field_l build_text">
        <button ng-click="building.upgrade(GC)" ng-mouseover="GC.note = building.conf.updDesc">{{GC.getText("upgrade_button_name")}}</button>
    </div>
</div>