<div class="twoBox">
    <div class="boxleft" style="float:left;width:120px">
        <button ng-click="GC.guiHelper.showRes()" class="btn btn-info btn-xs">R</button>
        <button ng-click="GC.guiHelper.showProd()" class="btn btn-info btn-xs">P</button>
        <button ng-click="GC.guiHelper.showUnit()" class="btn btn-info btn-xs">U</button>
        <button ng-click="GC.guiHelper.showAllBuildings()" class="btn btn-info btn-xs">Show All</button>
        <button ng-click="GC.guiHelper.hideAllBuildings()" class="btn btn-info btn-xs">Hide All</button>
        <div style="width:60px;float:left;background-color:white;padding:5px;" class="list-group-item" ng-repeat="building in GC.buildings | orderBy:'type'" ng-if="building.conf.type != 'special'">
            <img popover-placement="left" popover="{{building.displayName}}" ng-src="images/buildings/{{building.data.name}}.png" style="width:25px;height:25px" title="{{building.displayName}}" /> <input type="checkbox" ng-model="GC.data.ui.bView[building.data.name+'_showBuilding']" class="checkbox checkbox-inline " />
        </div>

    </div>
    <div class="boxRight" style="margin-left:120px">

        <div ng-class="!GC.data.ui.bView[building.data.name+'_smallView']?'buildingBoxBig':'buildingBoxSmall'" ng-repeat="building in GC.buildings " ng-if="building.conf.type != 'special'" ng-show="GC.data.ui.bView[building.data.name+'_showBuilding']">
        <!-- inner -->
              <span tooltip-placement="bottom" tooltip="{{building.conf.desc}}" class="glyphicon glyphicon-info-sign" style="float:left;color:#589df2;position:relative;top:6px;left:6px;width:15px"></span>
                 <span ng-click="GC.guiHelper.smallView(building.data.name)" class="glyphicon glyphicon-modal-window" style="float:left;color:black;position:relative;top:6px;left:14px;width:15px"></span>

            <div class="buildingImage">
                <img ng-src="images/buildings/{{building.data.name}}.png" ng-click="">

            </div>

            <div ng-show="!GC.data.ui.bView[building.data.name+'_smallView']" class="buildingHeader">
                {{building.displayName}} Lvl. {{building.data.level}} <span class="loadOuter"><span class="loadInner" style="width:{{building.getProducingPercent()}}%;">{{building.getProducingPercent()}}%</span></span>

            </div>
            <div class="buildingContent">
                <div ng-show="!GC.data.ui.bView[building.data.name+'_smallView']" class="thirdBox buildingWorkers">
                    <h4>{{GC.getText("worker_button_name")}}</h4> <div class="">

                        <span ng-if="GC.units[building.conf.processUnit].type == 'worker'">
                            <button class="btn btn-danger btn-xs" ng-click="GC.units[building.conf.processUnit].removeUnit(GC)">-</button>   {{building.currentUnits(GC)}}/{{building.maxUnits()}} <button class="btn btn-success btn-xs" ng-click="GC.units[building.conf.processUnit].addUnit(GC)">+</button>
                        </span>
                        <div>

                            <span>PpS:</span> {{GC.getPerSecond(building.getProducePerSecond(GC)) | number:2}}
                        </div>
                    </div>
                </div>
                <div  ng-class="!GC.data.ui.bView[building.data.name+'_smallView']?'thirdBox':'fullbox'" >
                    <!-- Order Box -->
                    <h4>{{GC.getText("ordered_button_name")}}</h4>
                    <div ng-if="building.type == 'extendresource' || building.type=='unit'">
                        <span ng-repeat="r in building.resViewArray">
                            <img style="width:16px" ng-src="{{GC.getImagePath(r.o)}}" title="{{r.name}}" />
                            <span ng-class="{greenText: r.need < r.stock , redText:r.need > r.stock}" title="">{{r.need}}  </span>
                        </span>

                        <div><button class="btn btn-danger btn-xs" ng-click="building.remUnitQ(GC)">-</button>
                         {{building.data.processQ}}  
                        <img ng-if="building.resId" ng-src="images/resources/{{building.resId}}.png" style="width:22px" title="{{GC.resources[building.resId].displayName}}" />
                            
                            <img ng-if="building.unitId"  style="width:22px" ng-src="images/units/{{building.unitId}}.png" title="{{GC.units[building.unitId].displayName}}" />
                         <button class="btn btn-success btn-xs" ng-click="building.addUnitToQ(GC)">+</button> 

                        </div>
                    </div>
                    <!-- Order Box End -->
                </div>
                <div ng-show="!GC.data.ui.bView[building.data.name+'_smallView']" class="thirdBox buildingWorkers">
                    <h4>{{GC.getText("upgrade_button_name")}} <span tooltip-placement="bottom" tooltip="{{building.conf.updDesc}}" class="glyphicon glyphicon-info-sign" style="color:#589df2;font-size:8pt;"></span></h4>
                    <span ng-repeat="r in building.viewArray">
                        <img style="width:16px" ng-src="images/resources/{{r.o}}.png" title="{{r.name}}" />
                        <span ng-class="{greenText: r.need < r.stock , redText:r.need > r.stock}">{{r.need}}  </span>
                    </span>
                    <div>
                        <div ng-show="building.canUp"  ng-click="building.upgrade(GC)" title="{{GC.getText('upgrade_button_name')}}"><span class="glyphicon glyphicon-circle-arrow-up" style="color:green;font-size:16pt;cursor:pointer;"></span></div>

                    </div>

                </div>
            </div>
            <!-- INNER END-->
        </div>

    </div>


</div>
