<div class="log_msg" style="width:50%;">

    <div class="panel panel-info">
        <h3 class="panel-heading">Log 13.06.2015</h3>

        Seid gegrüßt ihr Tester und Spieler,
        wie ihr sehr (Wenn ihr vor der Alpha 0.9 schon gespielt habt),
         hat sich einiges am Design getan. Ebenfalls ist der Markt nun aktiv.
         Derzeit arbeite ich an kleineren Korrekturen und wie man sieht an dem Design.
         Ich möchte mich herzlich bei Klenkogi und Simon für ihre Hilfe bedanken, 
        die mich in Sachen Texten, Balancing, Feature-Design  
        tatkräftig unterstützen. Die beiden findet ihr unter <a href="http://skumbaggaming.wix.com/skumbag-gaming/">http://skumbaggaming.wix.com/skumbag-gaming/</a>
        <br /><br/>
        Die Öffentlich BETA des Spiels wird beginnen, sobald die unten aufgeführten Arbeiten abgeschlossen sind und ich Grafiken für das spiel habe, die ich auch tatsächlich benutzen darf.
        Falls jemand einen Grafiker/Designer kennt der interesse an der erstellung von Grafiken für die Gebäude / Resourcen / Units / Navigationsgrafiken hat, dann könnt ihr euch gerne
        bei mir melden. 

        <br /><br />
        Wie immer gibt es hier eine Liste mit geplanten Features und aktuellen ToDo’s
        <br /><br />
        <ul>
            <li>
                Erweiterung bestehendes Gameplay<ul>
                    <li>
                        Weitere Achivements für Resourcen
                    </li>
                    <li>
                        Achivements für Gebäudestufen
                    </li>
                    <li>
                        Weitere Achivements für Einheiten
                    </li>
                    <li>
                        Achivements für Upgrades
                    </li>
                    <li>
                        Achivements für den Markt
                    </li>
                    <li>
                        Weitere Statistiken für den Markt
                    </li>
                    <li>
                        Am Balancing schrauben.
                    </li>
                    <li>
                        Texte für alle Gebäude / Upgrades erweitern (Informationen gibt es meist bei dem blauen i)
                    </li>
                    <li>	
                Lokalisierung (Alle Texte in Sprachdateien auslagern)
                    </li>
                </ul>
            </li>
            <li>
                Erweiterung Usability<ul>
                    <li>	
                Neus Design für Achivements, Resourcen, Units, Upgrades.
                    </li>
                </ul>
            </li>
            <li>
                Nächstes Feature<ul>
                    <li>
                        Kriegsfeature
                        Ich möchte derzeit nicht das ganze Konzept hier ausführen, da sich bei der Entwicklung noch einiges ändern kann. Aber es werden sehr viele neue Ressourcen, Gebäude und Einheiten eingeführt. Aus diesen können dann entsprechen Truppen ausgebildet werden. Ebenfalls verteidigungsanlagen. Dies wird der erste „Einfache“ schritt für das Feature darstellen. Weiter geht es dann mit dem Kampfsystem, hier ist das Ganze noch in Planung, aber vermutlich wird das ein Automatisch laufendes Rundenbasiertes Kampfsystem sein.
                    </li>
                </ul>
            </li>
            <li>
                Geplante Features<ul>
                    <li>
                        Tutorial (Tutorial das auf Aktionen des Benutzers reagiert)
                    </li>
                    <li>
                        Sprachauswahl (Derzeit erstmal Deutsch und Englisch)
                    </li>
                    <li>
                        Einstellungen (Performance, Spielstandverwaltung)
                    </li>
                    <li>
                        Online-Spielstände (Eine Art Accountmanagement)
                    </li>
                    <li>
                        Online-Handel (Handeln mit Freunden)
                    </li>
                    <li>
                        Stadtentwicklung (Das Dorf kann sich weiterentwickeln, hierdurch kommen neue Features für die Bewohner, Bedüfnisse, Verbrechen, etc)
                    </li>
                    <li>
                        Kiregsfeature (Truppen, Kriege, Angriffe, Ausbildung)
                    </li>
                    <li>
                        Online-Kriege (Gegen Freunde)
                    </li>
                    <li>
                        Globalevents - Events die sich auf die Produktion / Units / Lager auswirken
                    </li>
                    <li>
                        Mitspieler KIs  (Handel, Kriege, Diplomatie)
                    </li>
                    <li>	Mobile Ansicht (Mal sehen ob das kommen wird)</li>
                </ul>
            </li>
            <li>
                Infos zu bestehenden Features<ul>
                    <li>
                        Achivements
                        o	Die Achivements sehen derzeit noch recht Nutzlos aus, wie auch die Ruhmpunkte. Diese möchte ich als Bohnungwährung nutzen. Die Ruhmpunkte generieren sich aus der Anzahl erreichter Achivements. Was genau damit gemacht werden soll ist noch nicht sicher.
                    </li>
                </ul>
        </ul>
        Grüße TimTim
    </div>

    <div class="panel panel-info">
        <h3 class="panel-heading">Log 09.06.2015</h3>
        Hallo zum Zweiten Log eintrag. In den letzten Tagen kamen einige Vorschläge für das Spiel, ich habe diese mal in einer Liste für alle zusammengestellt.
        Da dies recht Grundlegende vorschläge sind, werde ich diese wohl parallel zu neuen Features Implementieren bzw. zur Disskusion stellen.
        <br />
        <br />
        Weiter versuche ich noch eine Goupware hinzuzufügen um etwaige Themen irgendwo erfassen zu könne.

        <ul>
            <li><b>Tutorial für den Spieleinstieg</b> TK: Das habe ich auch noch vor, allerdings ist mir noch kein gutes Konzept für ein Tutorial eingefallen. Hieran werde ich mich machen, sobald ich noch 2-3 Features hinzugefügt habe. Ich suche mir derzeit einen Texter der für mich das Tutorial auf eine Humorvolle weiße schreiben möchte.</li>
            <li><b>Unit zuweisen bei jedem Gebäude hinzufügen</b> TK: Es steht prinzipiell noch ein Komplettes Makeover der GUI / Design und Usability an. Aber um den aktuellen Spielfluss zu fördern, werde ich das noch mit rein nehmen.</li>
            <li><b>Effekte bei den Upgrade Buttons</b> TK: Tatsächlich habe ich hierfür schon alles Implementiert, es müssen lediglich die Upgrade Texte geschrieben werden so wie ein Ort für die Anzeige dieser gefunden werden.</li>
            <li><b>Alle Gebäude in einer Kategorie und zusätzlich in verschiedene</b> TK: Darüber denke ich auch schon eine weile nach. Ich habe überlegt ob ich ein anderes Tabsystem oder eine Hidden/Visible Liste erstellen soll. Ich werde die Tage mal damit rumspielen.</li>
            <li><b>Bei allen du Upgradekosten X / X anzeigen</b> TK: Dies war am Anfang so, allerdings fehlt mir beim Aktuellen Design der Gebäudeboxen der Platz. Hier muss ich mir noch einen neuen Aufbau überlegen, bei dem ich all die Infos und Funktionen unterbringen kann.</li>
            <li><b>Anzeige nicht genutzer Einheiten</b> TK: Habe das mit aufgenommen. Ursprünglich sollten Units nur über den Unit-Reiter zugewiesen werden, daher habe ich das im nachhinein vergessen.</li>
            <li><b>Slider beim Lager wieviel Platz pro Item genutzt werden soll</b> TK: Das werde ich als neues Feature gerne aufnehmen, welches per Update freigeschalten wird</li>
            <li><b>Die Kosten bei der Bäckerei (Erweiterten Resourcen Gebäuden) sollten nicht vom Level abhängig sein.</b> TK: Der Grund für den Anstieg, liegt eigentlich nur daran, dass die Produktion später nicht zu leicht sein soll. Da ich allerdings plane Statische Kosten für Units über Zeit hinzuzufügen, kann man das dagegen Balancieren</li>
            <li><b>Resourcenanzeige auf jeder Seite</b> TK: Auch das habe ich schon in Planung, allerdings fehlt beim Aktuellen Design der Platz. Falls ihr möchtet könnt ihr gerne eine Skitze erstellen wie das Design für euch angenehmer wäre (Ich habe die möglichkeit verschiedene Themes zu erstellen)</li>
        </ul>
        Ich freue mich über alle Anregungen / Forschläge, auch gerade wegen des Balancings und der Usability.

        Grüße TimTim
    </div>

    <div class="panel panel-info">
        <h3 class="panel-heading">Log 07.06.2015</h3>
        Hallo zusammen,<br /><br />

        dies ist eine ehh.  Alpha.. Beta.. ach was weiß ich.
        <br />
        Ein Aktueller Entwicklungsstand meines kleinen Idle-Games. <br />
        Falls du hier etwas spielst würde ich mich über ein Feedback freuen welches möglich ist per Mail timo.kesselring@tstuff.de.<br />
        Wundert euch nicht über seltsame Bezeichner und die vielen Rechtschreib- und Grammatikfehler. Da alle Texte beim Programmieren „inline“ entstehen,
        lege ich hier wenig Aufmerksamkeit drauf. Ebenfalls sind viele Texte / Namen eher für Testzwecke bzw. um zu prüfen wie das nachher aussieht.<br />
        <br />
        Falls du dich an der Entwicklung beteiligen möchtest (Programmierung, Grafiken, Design, Gamedesign, Übersetzungen usw..) darfst du dich gerne bei mir melden. Für neue Ideen bzw. Erweiterungen bin ich immer offen.
        <br />
        <br />
        Technische Infos:<br />
        Eingesetzte Technologien:<br />
        -	(HTML, CSS, JS)<br />
        -	TypeScript<br />
        -	AngularJs<br />
        <br />

        Ich werde noch irgendwie etwas aufsetzen um Feedback direckt über die Seite / aus dem Spiel herraus zu ermöglichen.

        <h4>Aktuelle Arbeiten</h4>
        <ul>
            <li>
                Markt
                <ul>
                    <li>Kaufen und Verkaufen von Ressourcen</li>
                    <li>Anzahl von Aktionen (Kaufen - Verkaufen) ist begrenzt und werden wie Researchpunkte über Zeit generriert. </li>
                    <li>Ressourcen, Preise, Anzahl wird vorraussichtlich alle 15 minuten neu Berechnet.</li>
                </ul>
            </li>
        </ul>
        <h4>Offene Arbeiten</h4>
        <ul>
            <li>Hinzufügen weiterer Gebäudeupgrades</li>
            <li>Hinzufügen weiterer Achivements</li>
            <li>Überarbeiten aller Text und Bezeichnungen</li>
            <li>Bei SphaxBD nachfragen unter welchen vorraussetzungen ich die Grafiken nutzen darf</li>
            <li>Lokalisierung (DE/EN Version)</li>
            <li>Überarbeiten der GUI (Fehlende Buttons/Komfortfunktionen)</li>
            <li>Erweiterung der Statistiken</li>
            <li>Einstiegstutorial und Beschreibung bei Gebäuden, Einheiten usw.</li>
            <li>Benachrichtigungen bei neuen Upgrades/Achivements usw.</li>
            <li>Aktionslog (Upgrade, Einheiten erstellen usw..)</li>

        </ul>
        <h4>Geplante Features</h4>
        <ul>
            <li>
                Kriegssystem
                <ul>
                    <li>Verteidigung für das Dorf</li>
                    <li>Verschiedene Truppen</li>
                    <li>Ressourcen wie Eisen/Gold/Diamant/Pferde</li>
                    <li>Angriff, Verteidigung</li>
                </ul>
            </li>
            <li>
                Ökonomie
                <ul>
                    <li>AI Dörfer / Städte</li>
                    <li>Handelsbeziehungen</li>
                    <li>Investments</li>
                </ul>
            </li>
            <li>
                Restarts
                <ul>
                    <li>Aufgeben des alten Dorfes mit Boni für einen neustart (Ruhm)</li>
                </ul>
            </li>
            <li>
                Online-Tools
                <ul>
                    <li>Spielstände online Speichern</li>
                    <li>Handel mit Onlinespielern</li>
                    <li>Kriege mit Onlinespielern</li>
                </ul>
            </li>
            <li>
                Stadt/Herrschaft
                <ul>
                    <li>Weiterentwicklung des Dorfes</li>
                </ul>
            </li>
        </ul>
    </div>
</div>