

<div class="buildingBoxBig" style="float:none" ng-init="building = GC.buildings['Storagehouse']" >
    <!-- inner -->
    <span tooltip-placement="bottom" tooltip="{{building.conf.desc}}" class="glyphicon glyphicon-info-sign" style="float:left;color:#589df2;position:relative;top:6px;left:6px;width:15px"></span>

    <div class="buildingImage">
        <img ng-src="images/buildings/{{building.data.name}}.png">

    </div>

    <div class="buildingHeader">
        {{building.displayName}} Lvl. {{building.data.level}} <span class="loadOuter"><span class="loadInner" style="width:{{building.getProducingPercent()}}%;">{{building.getProducingPercent()}}%</span></span>

    </div>
    <div class="buildingContent">
        <div class="thirdBox buildingWorkers">
            <h4>{{GC.getText("worker_button_name")}}</h4> <div class="">

                <span ng-if="GC.units[building.conf.processUnit].type == 'worker'">
                    <button class="btn btn-danger btn-xs" ng-click="GC.units[building.conf.processUnit].removeUnit(GC)">-</button>   {{building.currentUnits(GC)}}/{{building.maxUnits()}} <button class="btn btn-success btn-xs" ng-click="GC.units[building.conf.processUnit].addUnit(GC)">+</button>
                </span>
                <div>

                    <span>PpS:</span> {{GC.getPerSecond(building.getProducePerSecond(GC)) | number:2}}
                </div>
            </div>
        </div>
        <div class="thirdBox buildingWorkers">
            <h4>{{GC.getText("ordered_button_name")}}</h4>
            <div ng-if="building.type == 'extendresource' || building.type=='unit'">
                <div ng-repeat="r in building.resViewArray">
                    <img style="width:16px" ng-src="{{GC.getImagePath(r.o)}}" title="{{r.name}}" />
                    <span ng-class="{greenText: r.need < r.stock , redText:r.need > r.stock}" title="">{{r.need}} / {{r.stock}} </span>
                </div>

                <div><button class="btn btn-danger btn-xs" ng-click="building.remUnitQ(GC)">-</button> {{building.data.processQ}} <button class="btn btn-success btn-xs" ng-click="building.addUnitToQ(GC)">+</button>  </div>
            </div>
        </div>
        <div class="thirdBox buildingWorkers">
            <h4>{{GC.getText("upgrade_button_name")}} <span popover-placement="bottom" popover="{{building.conf.updDesc}}" class="glyphicon glyphicon-info-sign" style="color:#589df2;font-size:8pt;"></span></h4>
            <div ng-repeat="r in building.viewArray">
                <img style="width:16px" ng-src="images/resources/{{r.o}}.png" title="{{r.name}}" />
                <span ng-class="{greenText: r.need < r.stock , redText:r.need > r.stock}">{{r.need}} / {{r.stock}} </span>
            </div>
            <div>
                <div ng-show="building.canUp" ng-click="building.upgrade(GC)" title="{{GC.getText('upgrade_button_name')}}"><span class="glyphicon glyphicon-circle-arrow-up" style="color:green;font-size:16pt;cursor:pointer;"></span></div>

            </div>

        </div>
    </div>
    <!-- INNER END-->
</div>


<div id="res">
    <div ng-repeat="res in GC.resources" title="{{res.displayName}}" class="item_res">
        <div class="amount_res">{{res.data.amount}}</div>
        <div class="img_res">
            <img title="{{res.displayName}}" ng-src="{{GC.getImagePath(res.data.name)}}" class="img_res">
        </div>

    </div>
</div>