<div style="width:50%;">

    <div class="panel panel-info update_log">
        <h3 class="h3 panel-heading">14.06.2015 V 0.0.0.10</h3>
        <accordion>
            <accordion-group heading="Upgrades">
                <ul class="list-group">
                    <li class="list-group-item">Upgrades zum freischalten neuer Gebäude</li>
                    <li class="list-group-item"></li>
                </ul>
            </accordion-group>
            <accordion-group heading="Achivements">
                <ul class="list-group"></ul>
            </accordion-group>

            <accordion-group heading="Gebäude und Resourcen">
                <ul class="list-group">
                    <li class="list-group-item" >Lehmgrube / Lehm</li>
                    <li class="list-group-item">Kürschner / Fell</li>
                    <li class="list-group-item">Lederer / Leder</li>
                    <li class="list-group-item">Köhlerei / Kohle</li>
                    <li class="list-group-item">Flachsfarm / Flachs</li>
                    <li class="list-group-item">Seilerei / Seile</li>
                    <li class="list-group-item">Hopfenfarm / Hopfen</li>
                    <li class="list-group-item">Brauerei / Bier</li>
                    <li class="list-group-item">Goldschmelze / Goldbarren</li>
                    <li class="list-group-item">Eisenschmelze / Eisenbarren</li>
                </ul>

            </accordion-group>
            <accordion-group heading="Bugfixes">
                <ul class="list-group"></ul>
            </accordion-group>
            <accordion-group heading="Balancing">
                <ul class="list-group">
                    <li class="list-group-item"></li>
                </ul>
            </accordion-group>
            <accordion-group heading="GUI">
                <ul class="list-group">
                    <li class="list-group-item">Gebäude können in eine "Kleine Ansicht" geändert werden. Diese zeigt die Bestellungen im Gebäude</li>
                    <li class="list-group-item">Einheitenliste zeigt nurnoch die Einheitennamen und wieviele derzeit im Einsatz sind</li>
                </ul>
            </accordion-group>
            <accordion-group heading="Sonstiges">
                <ul class="list-group"></ul>
            </accordion-group>
        </accordion>
    </div>

    <div class="panel panel-info update_log">
        <h3 class="h3 panel-heading">13.06.2015 V 0.0.0.9</h3>
        <accordion>
            <accordion-group heading="Upgrades">
                <ul class="list-group">
                    <li class="list-group-item"></li>
                </ul>
            </accordion-group>
            <accordion-group heading="Achivements">
                <ul class="list-group"></ul>
            </accordion-group>
            <accordion-group heading="Bugfixes">
                <ul class="list-group"></ul>
            </accordion-group>
            <accordion-group heading="Balancing">
                <ul class="list-group">
                    <li class="list-group-item">Anpassung der Marktregenerierung und Preisänderung pro gekauften Item</li>
                </ul>
            </accordion-group>
            <accordion-group heading="GUI">
                <ul class="list-group">
                    <li class="list-group-item">Überarbeitung der Gebäude GUI</li>
                    <li class="list-group-item">Überarbeitung weitere Designs</li>
                </ul>
            </accordion-group>
            <accordion-group heading="Sonstiges">
                <ul class="list-group"></ul>
            </accordion-group>
        </accordion>
    </div>


    <div class="panel panel-info update_log">

        <h3 class="h3 panel-heading">11.06.2015 V 0.0.0.7</h3>
        <accordion>
            <accordion-group heading="Feature">
                <ul class="list-group">
                    <li class="list-group-item">
                        Markt
                        <ul class="list-group">
                            <li class="list-group">Mit dem neuen Feature Markt (Wird durch ein Upgrade Aktiviert) können Resourcen Ein- und Verkauft werden</li>
                            <li class="list-group">Die Preise am Markt werden über ein Defaultwert festgelegt. Ein- und Verkäufe verändern die Preise.</li>
                            <li class="list-group">Die Preise normalisieren sich über die Online-Zeit wieder.</li>
                            <li class="list-group">Für jeden Ein- und Verkauf werden "Marktpunkte" abgezogen. Diese generieren sich über Zeit und sind abhängig vom Markt level</li>
                            <li class="list-group">Der Markt ist so in der Ersten version. Balancing und Usability müssen noch nachgereicht werden. Bitte schreibt Kommentare falls ihr Fehler findet oder Vorschläge habt.</li>
                        </ul>
                    </li>
                </ul>
            </accordion-group>
            <accordion-group heading="Upgrades">
                <ul class="list-group">
                    <li class="list-group-item"></li>
                </ul>
            </accordion-group>
            <accordion-group heading="Achivements">
                <ul class="list-group"></ul>
            </accordion-group>
            <accordion-group heading="Bugfixes">
                <ul class="list-group"></ul>
            </accordion-group>
            <accordion-group heading="Balancing">
                <ul class="list-group">
                    <li class="list-group-item">Kosten der Upgrades wurden verdoppelt</li>
                    <li class="list-group-item">Nahrungskosten für den Turm um 30% gesenkt</li>
                    <li class="list-group-item">Anstig der Produktionsrate bei Stein und Holz wurden gesenkt.</li>
                </ul>
            </accordion-group>
            <accordion-group heading="GUI">
                <ul class="list-group"></ul>
            </accordion-group>
            <accordion-group heading="Sonstiges">
                <ul class="list-group">
                    <li class="list-group-item">User-Wunschliste hinzugefügt</li>
                    <li class="list-group-item">Mehrere Rechtschreib- und Grammatikkorrekturen</li>
                </ul>
            </accordion-group>
        </accordion>
    </div>
    <div class="panel panel-info update_log">
        <h3 class="h3 panel-heading">09.06.2015 V 0.0.0.6</h3>
        <accordion>
            <accordion-group heading="Upgrades">
                <ul class="list-group">
                    <li class="list-group-item">Neues Upgrade Haus Einheiten V2</li>
                </ul>
            </accordion-group>
            <accordion-group heading="Achivements">
                <ul class="list-group">
                    <li class="list-group-item">Nahrungsachivements hinzugefügt.</li>
                </ul>
            </accordion-group>
            <accordion-group heading="Bugfixes">
                <ul class="list-group">
                    <li class="list-group-item">Der Markt wird nichtmehr durch das Statistik Upgrade Aktiviert.</li>
                </ul>
            </accordion-group>
            <accordion-group heading="Balancing">
                <ul class="list-group">
                    <li class="list-group-item">Resourcen gebäude wie Bäckerei, Mätzger usw, steigern nicht mehr die Produktionskosten durch das Level.</li>
                    <li class="list-group-item">Das Upgrade für Metzgerei und Fisch wird jetzt Freigeschalten sobald die Fischhütte freigeschalten wird.</li>
                </ul>
            </accordion-group>
            <accordion-group heading="GUI">
                <ul class="list-group">
                    <li class="list-group-item">Freie Einheiten werden bei den Maximalen Einheiten angezeigt</li>
                    <li class="list-group-item">Angefangen einzelne Elemente umzubauen. Einbindung von Bootstrap.UI</li>
                </ul>
            </accordion-group>
            <accordion-group heading="Sonstiges">
                <ul class="list-group">
                    <li class="list-group-item">Neuer Log-Eintrag</li>
                </ul>
            </accordion-group>
        </accordion>
    </div>

    <div class="panel panel-info update_log">
        <h3 class="panel-heading">07.06.2015 V 0.0.0.5</h3>
        <accordion close-others="false">
            <accordion-group heading="Upgrades">
                <ul class="list-group">
                    <li class="list-group-item">Stein V2</li>
                    <li class="list-group-item">Getreide V1 und V2</li>
                </ul>
            </accordion-group>
            <accordion-group heading="Sonstiges">
                <ul class="list-group">
                    <li class="list-group-item">Upgrade Log</li>
                </ul>
            </accordion-group>
        </accordion>


    </div>
</div>