<div  style="width:50%;">

    <div class="panel panel-info">
        <h3 class="panel-heading">Spieler Wunschliste</h3>
        <accordion>
            <accordion-group heading="Gewünscht">
            <ul class="list-group">
                <li class="list-group-item">Shift+Klick Max hinzufügen</li>
                <li class="list-group-item">Automatisches Produzieren von Bestellbaren Items</li>
            </ul>
            </accordion-group>
            <accordion-group heading="Umgesetzt">
                <ul class="list-group">
                    <li class="list-group-item">Keine Einträge</li>
                </ul>
            </accordion-group>
            <accordion-group heading="Abgelehnt">
                <ul class="list-group">
                    <li class="list-group-item">Keine Einträge</li>
                </ul>
            </accordion-group>
        </accordion>
       </div>
</div>
